{% extends 'base.html' %}

{% block content %}

<div class="container" style="margin-top:76px">
    {% include 'menu.html' %}
    <div class="col-md-9">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;登录日志</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <td style="width:10%">编号</td>
                        <td style="width:30%">登录时间</td>
                        <td style="width:30%">登录IP</td>
                    </tr>
                    {% for log in logs %}
                        <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ log.add_time }}</td>
                        <td>{{ log.ip }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
        $(document).ready(function(){
            $("#m-4").addClass("active");
    });
</script>
{% endblock %}